:root{
    font-family: 'Kumbh Sans', sans-serif;
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}
body{
 
}
.flex-card-container{
   
    
    height:100vh;
    width:100vw;
    background:var(--Darkcyan);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden
}
.card-flex{
    border-radius:10px;
    width:350px;
    height:395px; 
    background:white;
    overflow:hidden;
    
    
    
}
.header{
    
    height:140px;
    width:100%;
    background-repeat: no-repeat; 
    background-size: contain;   
    
    
    
}
.user-data{
    text-align:center;
    

}
.user-image  {
    border-radius: 50%;
    margin-top:-55px;
    border:5px solid white;
}

h1{
    font-size: 1.25rem;
    color:var(--Verydarkdesaturatedblue);
    font-weight:700;
}
.user-age{
    color:var(--Darkgray);
    padding-left:0.3rem;
    font-weight:400;
}
h2.city{
    font-weight:400;
    color:var(--Darkgray);
    font-size: 1.05rem;
    margin-bottom: 1.7rem;
}
.footer{
    border-top:1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
h3{
    font-size: 1.25rem;
    color:var(--Verydarkdesaturatedblue);
    font-weight:700;
}
h4{
    font-weight:400;
    color:var(--Darkgray);
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.item{
    text-align: center;
}